/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/Modules/*/node_modules
/public/js/modules
/public/js/services
/public/mix-manifest.json
/storage/api-docs
/public/css/main.css
/public/js/home.js
/public/js/modules/home/
/public/js/modules/patient/
/public/js/store.js
/public/js/intake-form.js
